*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;


}

#section-1{
  padding: 160px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 100px;
  background-image: url(/resources/oniru/imgs/stass-02.jpg);
  background-size: cover;        /* fills and scales image to cover the section */
  background-position: center;   /* centers the image */
  background-repeat: no-repeat;  
  height: 80vh;
  width: 100%;
  


}
#navbar{
  background-position-x: center;
  background-color: rgb(31, 23, 3);
  display: flex;
  flex-direction: row;
  justify-content: center;  
  align-items: center;
  gap: 110px;
  width: 100%;
  position: relative;
}
#navbarr{
  background-color:  rgb(31, 23, 3);
  display: flex;
  flex-direction: row;
  justify-content: space-between;  
  align-items: center;
  gap: 100px;
  width: 150%;
}
#listing{
  display: flex;
  flex-direction: row;
  gap: 50px;
  list-style-type: none;

  
}
#listing li{
  color: rgb(241, 224, 182);
  font-weight: bolder;
  font-size: 20px;
}
#listing li a{
  text-decoration: none;
  color: rgb(217, 172, 59);
  font-weight: bolder;
}
#listing li:hover{
  color: rgb(241, 224, 182);
  cursor: pointer;
  text-decoration: underline;
}
.img-logo{
  width: 5%;
  border-radius: 40px;
}
.namecontainer{
  display: flex;
  flex-direction: column;
  padding-left: 50px;
  gap: 90px ;
}
.kingsname{
  font-family: "Caprasimo", serif;
  font-size: 42px;
  color: rgb(217, 172, 59);
  
}
.Iruland{
  color: rgb(236, 194, 87);
    font-weight: bolder;

}
.nav-div{
  display: flex;
  flex-direction: row;
  padding-left: 50px;
  gap: 50px ;
}
.btn-close{
  display: none;
  background-color: transparent;
  border: none;
  color: red;
  font-size: 30px;
  cursor: pointer;
}
.button-close{
  background-color:red;
  padding: 0px;
  
}


#section-ii{
  position:relative;
  /* border: 2px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  background-color: rgb(241, 224, 182);
  width:fit-content;
  /* padding-top: 100px; */
  padding-bottom: 1px;
}
#section-2{
  display: flex;
  flex-direction: row;
  background-color: rgb(241, 224, 182);
  padding-bottom: 100px;
}
.royal{
  font-size: 30px;
  font-weight: bolder;
}
.Biographyy{
  text-align: start;
  font-family:sans-serif;
  font-size: 19px;
  color: black;
  /* font-weight: bolder; */
}
.text{
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: justify;
  gap: 20px;
  text-align: justify;
  width: 100%;
 
}
.div-img{
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
  border-radius: 20px;
}
.img-section-ii{
  width: 100%;
  /* height: 100%; */
  /* object-fit: cover; */
  border-radius: 20px;
}
.img-section-iii{
  display:flex;
  flex-direction: column;
  align-items: end;
}
.ptag{
  font-family: sans-serif;
  font-size: 25px;
  color: black;
  padding: 20px;
}
.eventts{
  padding: 20px;
  padding-left: 5px;
  background-color: black;
  font-family: sans-serif;
  font-size: 42px;
  color:black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  list-style-type: none;
  transition: all 0.3s ease-in-out; 
}
.eventtss :hover{
 font-size: 25px;
}
.eventtss{
  font-family: sans-serif;
  /* font-size: 42px; */
  color: black;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  /* padding: 100px */
}
.holdereventts{
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  gap: 0px;
  /* margin: 400px; */
  position: fixed;
  width: fit-content;
  margin-right: 200px;
}
.cancle{
  background-color: transparent;
  width: fit-content;
  height: fit-content;
}
.img-sectioniii{
  image-resolution: from-image;
  width: 110%;
  height: 100%
  
}
.readmoreparagraph {
  pointer-events: none;
  
}
.readmoreparagraph .bi-x {
  pointer-events: auto;
  cursor: pointer;
}
footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* gap: 1000px; */
  padding: 20px;
  /* width: fit-content; */
  background-color: rgb(31, 23, 3);

}
.footer-ul{
  display: flex;
  flex-direction: row;
  list-style-type: none;
  gap: 20px;
}
.footer-ul li{
  background-color: rgb(61, 44, 1);
  font-weight: bolder;
  font-size: 0px;

}
#holder{
  background-image: url(/resources/oniru/imgs/backgroud-biography.webp);
}.holder-scroll-wrapper {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  max-width: 2000px;
  margin: 0 auto;
}

.holder-items-scrollable {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 40px;
  padding: 30px 0;
  width: 100%;
}
.helper-elegba-feast h1{
  font-family: "PT Serif", serif;
  font-weight: 700;
  font-style: italic;
  color: rgb(217, 172, 59);
  font-size: 24px;
  text-align: center;
}
span{
  color: rgb(217, 172, 59);
  font-weight: bolder;
  font-size: 20px;
  cursor: pointer;
}
.helper-elegba-feast p{
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-style: italic;
  color: rgb(45, 33, 2);
  font-size: 18px;
  text-align:  center;
}
.helper-elegba-feast:hover{
  background-color: rgb(31, 23, 3);
  transition: all ease-in-out 0.3s;
}
.helper-elegba-feast:hover p{
  color:white;
  transition: all ease-in-out 0.3s;
}
.helper-elegba-feast:hover h1{
  color: rgb(217, 172, 59);
  transition: all ease-in-out 0.3s;
}
.helper-elegba-feast {
  min-width: 500px;
  flex: 0 0 auto;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 16px rgba(0,0,0,0.1);
  /* padding: 2px; */
  /* border: 2px solid rgb(217, 172, 59); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  transition: transform 0.3s ease;
  /* gap:10px;/ */

}
.elegba-img{
  width: 100%;
  border-radius: 5px;
}
.scroll-btn {
  background: rgba(171, 5, 5, 0.7);
  color: #fff;
  border: none;
  font-size: 2.5rem;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 50%;
  z-index: 2;
  transition: background 0.3s;
}

.scroll-btn:hover {
  background: rgb(171, 5, 5);
}

#section-B{
  background-image: url(/resources/oniru/imgs/backgroud-biography.webp);
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
  width: 100%;
  padding-top: 100px;
}
.textt{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  text-align: justify;
  width: 100%;
}

#gallery{
  /* padding: 100px; */
  /* border: 2px solid black; */
  background-image: url(/resources/oniru/imgs/backgroud-biography.webp);
  background-repeat:no-repeat;
  background-size: cover;
}
.gallery-scroll-wrapper {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  gap: 50px ;
}

.gallery-items-scrollable {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 100px;
  padding: 30px 0;
  width: 100%;
}

.gallery-container {
  min-width: 250px;
  flex: 0 0 auto;
}

.scroll-btn {
  background: rgba(171, 5, 5, 0.7);
  color: #fff;
  border: none;
  font-size: 2.5rem;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 50%;
  z-index: 2;
  transition: background 0.3s;
}

.scroll-btn:hover {
  background: rgb(171, 5, 5);
}
#gallery-mobile{
  display: none;
}
.gallery-items{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
  width: 100%;
  padding-bottom: 100px;
}
.gallery-container{
/* border: 2px solid white; */
width: 15%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 7px;

}
.img-gallery-helpers{
  width: 100%;
  /* height: 100%; */
  /* object-fit: cover; */
  border-radius: 20px;
}
.helper-zoom :hover{
  width: 150%;
  transition: all 0.3s ease-in-out;
}
/* DISPLAY ABOUT */
.display-about{
 display: none;
}
.holderdiv{
  
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  backdrop-filter: blur(5px);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s ease;
  /* border: 2px solid rgb(217, 172, 59); */
}
.HOLDER{
  border: 2px solid rgb(217, 172, 59);
  padding: 50px;
}
.holder-buttons{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-top: 20px;
}
.holder-buttons button a{
  text-decoration: none;
  color: rgb(217, 172, 59);
  font-size: 28px;
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-style: italic;
}
.holder-buttons button{
  background-color: rgb(45, 33, 2);
  border: none;
  padding: 20px 40px;
  font-size: 28px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-style: italic;

}
.holder-buttons button a:hover{
font-size: 35px;
  /* background-color: rgb(217, 172, 59); */
  color: rgb(255, 186, 12);
  transition: all 0.3s ease-in-out;
}
.bi-x {
  font-size: 3rem; /* or larger, e.g. 4rem */
  color: #ff0000;
  cursor: pointer;
}
/* COMMUNITY LISTS */
.display-about-community{
 display: none;
}
.holderdiv-community{
  
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  /* background-color: #ff0000; */
  backdrop-filter: blur(5px);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s ease;
  /* border: 2px solid rgb(217, 172, 59); */
}
.HOLDER-community{
  border: 2px solid rgb(217, 172, 59);
  /* padding: 50px; */
}
.holder-buttons-community{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: fit-content;
  /* padding-top: 20px; */
}
.holder-buttons-community button a{
  text-decoration: none;
  color: rgb(217, 172, 59);
  font-size: 28px;
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-style: italic;
}
.holder-buttons-community button{
  background-color: rgb(45, 33, 2);
  border: none;
  padding: 20px 40px;
  font-size: 28px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-style: italic;

}
.holder-buttons-community a:hover{
font-size: 35px;
  /* background-color: rgb(217, 172, 59); */
  color: rgb(255, 186, 12);
  transition: all 0.3s ease-in-out;
}
.bi-x {
  font-size: 4rem; /* or larger, e.g. 4rem */
  color: #ff0000;
  cursor: pointer;
}


.slider-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 600px;
  margin: 0 auto;
  /* gap: 100px; */
}

.slider {
  width: 500px;
  height: 350px;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide-img {
  display: none;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 4px 16px rgba(0,0,0,0.2);
}

.slide-img.active {
  display: block;
}

.slider-btn {
  background: rgba(171, 5, 5, 0.7);
  color: #fff;
  border: none;
  font-size: 2rem;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 50%;
  z-index: 2;
  transition: background 0.3s;
}

.slider-btn:hover {
  background: rgb(171, 5, 5);
}
.city{
  width: 50%;
  position: relative;
}
.city-holder{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border: 2px solid black;
  width: 100%;

}
