*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  width: fit-content;
  background-repeat: no-repeat;
  background-position: center;


}

#section-1{
  padding: 160px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 100px;
  background-image: url(/resources/oniru/imgs/stass-02.jpg);

  /* background-image: url(/resources/oniru/imgs/BACKGROUND.png); */
  background-repeat: no-repeat;
  background-size: 1500px 700px;
  width: 100%;
  /* padding-bottom: 200px ;
  padding-top: 100px; */

}
#navbar{
  background-position-x: center;
  background-color: rgb(31, 23, 3);
  display: flex;
  flex-direction: row;
  justify-content: center;  
  align-items: center;
  gap: 110px;
  width: 100%;
  position: relative;
}
#navbarr{
  background-color:  rgb(31, 23, 3);
  display: flex;
  flex-direction: row;
  justify-content: space-between;  
  align-items: center;
  gap: 100px;
  width: 150%;
}
#listing{
  display: flex;
  flex-direction: row;
  gap: 50px;
  list-style-type: none;

  
}
#listing li{
  color: rgb(241, 224, 182);
  font-weight: bolder;
  font-size: 20px;
}
#listing li a{
  text-decoration: none;
  color: rgb(217, 172, 59);
  font-weight: bolder;
}
#listing li:hover{
  color: rgb(241, 224, 182);
  cursor: pointer;
  text-decoration: underline;
}
.img-logo{
  width: 5%;
  border-radius: 40px;
}
.namecontainer{
  display: flex;
  flex-direction: column;
  padding-left: 50px;
  gap: 90px ;
}
.kingsname{
  font-family: "Caprasimo", serif;
  font-size: 42px;
  color: rgb(217, 172, 59);
  
}
.Iruland{
  color: rgb(236, 194, 87);
    font-weight: bolder;

}
.nav-div{
  display: flex;
  flex-direction: row;
  padding-left: 50px;
  gap: 50px ;
}
.btn-close{
  display: none;
  background-color: transparent;
  border: none;
  color: red;
  font-size: 30px;
  cursor: pointer;
}
.button-close{
  background-color:red;
  padding: 0px;
  
}


#section-ii{
  position:relative;
  /* border: 2px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  background-color: rgb(241, 224, 182);
  width:fit-content;
  /* padding-top: 100px; */
  padding-bottom: 1px;
}
#section-2{
  display: flex;
  flex-direction: row;
  background-color: rgb(241, 224, 182);
  padding-bottom: 100px;
}
.royal{
  font-size: 30px;
  font-weight: bolder;
}
.Biographyy{
  text-align: start;
  font-family:sans-serif;
  font-size: 19px;
  color: black;
  /* font-weight: bolder; */
}
.text{
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: justify;
  gap: 20px;
  text-align: justify;
  width: 100%;
 
}
.div-img{
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
  border-radius: 20px;
}
.img-section-ii{
  width: 100%;
  /* height: 100%; */
  /* object-fit: cover; */
  border-radius: 20px;
}
.img-section-iii{
  display:flex;
  flex-direction: column;
  align-items: end;
}
.ptag{
  font-family: sans-serif;
  font-size: 25px;
  color: black;
  padding: 20px;
}
.eventts{
  padding: 20px;
  padding-left: 5px;
  background-color: black;
  font-family: sans-serif;
  font-size: 42px;
  color:black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  list-style-type: none;
  transition: all 0.3s ease-in-out; 
}
.eventtss :hover{
 font-size: 25px;
}
.eventtss{
  font-family: sans-serif;
  /* font-size: 42px; */
  color: black;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  /* padding: 100px */
}
.holdereventts{
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  gap: 0px;
  /* margin: 400px; */
  position: fixed;
  width: fit-content;
  margin-right: 200px;
}
.cancle{
  background-color: transparent;
  width: fit-content;
  height: fit-content;
}
.img-sectioniii{
  image-resolution: from-image;
  width: 110%;
  height: 100%
  
}
.readmoreparagraph {
  pointer-events: none;
  
}
.readmoreparagraph .bi-x {
  pointer-events: auto;
  cursor: pointer;
}
footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* gap: 1000px; */
  padding: 20px;
  /* width: fit-content; */
  background-color: rgb(31, 23, 3);

}
.footer-ul{
  display: flex;
  flex-direction: row;
  list-style-type: none;
  gap: 20px;
}
.footer-ul li{
  background-color: rgb(61, 44, 1);
  font-weight: bolder;
  font-size: 0px;

}
#holder{
  background-image: url(/resources/oniru/imgs/backgroud-biography.webp);
}
.elegba-img{
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 15%;
}
.helper-elegba-feast{
  color: white;
   background-color: rgb(31, 23, 3);
  border-radius: 15%;
  width: 27%;
}
.helper-elegba-feast:hover{
  background-color: rgb(217, 172, 59);
  transition: all 0.3s ease-in-out;
  cursor: pointer;

}
.helper-elegba-feast h1{
  font-family: "PT Serif", serif;
  font-weight: 700;
  font-style: italic;
  font-size: 30px;
  text-align: center;
}
.helper-elegba-feast p{
  text-align:center;
  color:rgb(255, 255, 255);
  font-family: 'PT Serif', serif;
}
#events-section{
  /* border: 2px solid white; */
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding-bottom: 100px;
}
#section-B{
  background-image: url(/resources/oniru/imgs/backgroud-biography.webp);
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
  width: 100%;
  padding-top: 100px;
}
.textt{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  text-align: justify;
  width: 100%;
}
#gallery{
  padding: 100px;
  /* border: 2px solid black; */
  background-image: url(/resources/oniru/imgs/backgroud-biography.webp);
  background-repeat:no-repeat;
  background-size: cover;

}
.gallery-items{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
  width: 100%;
  padding-bottom: 100px;
}
.gallery-container{
/* border: 2px solid white; */
width: 15%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 7px;

}
.img-gallery-helpers{
  width: 100%;
  /* height: 100%; */
  /* object-fit: cover; */
  border-radius: 20px;
}
.helper-zoom :hover{
  width: 150%;
  transition: all 0.3s ease-in-out;
}
.display-about{
  display: none;
}
.holderdiv{
  
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  backdrop-filter: blur(5px);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s ease;
  /* border: 2px solid rgb(217, 172, 59); */
}
.HOLDER{
  border: 2px solid rgb(217, 172, 59);
  padding: 50px;
}
.holder-buttons{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-top: 20px;
}
.holder-buttons button a{
  text-decoration: none;
  color: rgb(217, 172, 59);
  font-size: 28px;
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-style: italic;
}
.holder-buttons button{
  background-color: rgb(45, 33, 2);
  border: none;
  padding: 20px 40px;
  font-size: 28px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-style: italic;

}
.holder-buttons button a:hover{
font-size: 35px;
  /* background-color: rgb(217, 172, 59); */
  color: rgb(255, 186, 12);
  transition: all 0.3s ease-in-out;
}
.bi-x {
  font-size: 3rem; /* or larger, e.g. 4rem */
  color: #ff0000;
  cursor: pointer;
}
